EAI_RestType1/Schemas/COMMON/ErrSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ErrSchema" xmlns:tns="http://www.example.org/ErrSchema" elementFormDefault="qualified">
   <element name="element">
        <complexType>
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="RESPONSE_CD" type="string"/>
      <element maxOccurs="1" minOccurs="1" name="RESPONSE_MSG" type="string"/>
      <element maxOccurs="1" minOccurs="1" name="RESPONSE_DATA" nillable="true" />
    </sequence>
        </complexType>
    </element>
</schema>