EAI_RestType1/Schemas/COMMON/LogSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1610449460730" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1610449460730">
  <xsd:element name="Element">
    <xsd:complexType>
      <xsd:sequence>
      	<xsd:element maxOccurs="1" minOccurs="1" name="logstep"
      		type="xsd:string" />
      	<xsd:element name="msg" type="xsd:string" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
